n8n_workflows/workflow_auto_index.json
{
  "name": "KlimtechRAG — Auto-indeksowanie z Nextcloud",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 5
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Co 5 minut",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, 0]
    },
    {
      "parameters": {
        "method": "PROPFIND",
        "url": "http://192.168.31.70:8081/remote.php/webdav/RAG_Dane/",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Depth",
              "value": "infinity"
            }
          ]
        },
        "options": {
          "timeout": 30000
        }
      },
      "id": "list-nextcloud",
      "name": "Nextcloud List RAG_Dane",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [220, 0],
      "credentials": {
        "httpBasicAuth": {
          "id": "NEXTCLOUD_WEBDAV_CRED_ID",
          "name": "Nextcloud WebDAV"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Porównaj pliki z poprzednim skanem (Static Data)\nconst staticData = $getWorkflowStaticData('global');\nconst previousFiles = staticData.knownFiles || [];\n\n// Parsuj odpowiedź WebDAV PROPFIND (XML)\nconst responseText = typeof $input.first().json.data === 'string'\n  ? $input.first().json.data\n  : JSON.stringify($input.first().json);\n\n// Wyciągnij nazwy plików z odpowiedzi\nconst filePattern = /RAG_Dane\\/[^<\"\\s]+\\.[a-zA-Z0-9]+/g;\nconst matches = responseText.match(filePattern) || [];\n\n// Deduplikacja\nconst currentFiles = [...new Set(matches)];\n\n// Znajdź nowe pliki\nconst newFiles = currentFiles.filter(f => !previousFiles.includes(f));\n\n// Zapisz aktualny stan\nstaticData.knownFiles = currentFiles;\n\n// Mapowanie ścieżek Nextcloud -> ścieżki lokalne\nconst NEXTCLOUD_BASE = '/media/lobo/BACKUP/KlimtechRAG/data/nextcloud/data/admin/files';\nconst results = newFiles.map(f => {\n  const localPath = NEXTCLOUD_BASE + '/' + f;\n  const ext = f.split('.').pop().toLowerCase();\n  const isPdf = ext === 'pdf';\n  return {\n    remotePath: f,\n    localPath: localPath,\n    extension: ext,\n    isPdf: isPdf\n  };\n});\n\nreturn [{\n  json: {\n    totalCurrent: currentFiles.length,\n    totalNew: newFiles.length,\n    newFiles: results\n  }\n}];"
      },
      "id": "compare-files",
      "name": "Porownaj z poprzednim skanem",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [440, 0]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "new-files-check",
              "leftValue": "={{ $json.totalNew }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "if-new-files",
      "name": "Nowe pliki?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [660, 0]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://192.168.31.70:8000/model/stop",
        "options": {
          "timeout": 30000
        }
      },
      "id": "stop-llm",
      "name": "Stop LLM (zwolnij VRAM)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [880, 0]
    },
    {
      "parameters": {
        "amount": 10,
        "unit": "seconds"
      },
      "id": "wait-vram",
      "name": "Czekaj 10s (VRAM)",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [1100, 0]
    },
    {
      "parameters": {
        "jsCode": "// Przygotuj listę plików do iteracji\nconst newFiles = $('Porownaj z poprzednim skanem').first().json.newFiles;\nreturn newFiles.map(f => ({ json: f }));"
      },
      "id": "prepare-loop",
      "name": "Przygotuj liste plikow",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1320, 0]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "pdf-check",
              "leftValue": "={{ $json.isPdf }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "route-filetype",
      "name": "PDF czy tekst?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1540, 0]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://192.168.31.70:8000/ingest_path",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "X-Embedding-Model",
              "value": "vidore/colpali-v1.3-hf"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ path: $json.localPath }) }}",
        "options": {
          "timeout": 600000
        }
      },
      "id": "ingest-pdf-colpali",
      "name": "Ingest PDF (ColPali)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1760, -120]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://192.168.31.70:8000/ingest_path",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ path: $json.localPath }) }}",
        "options": {
          "timeout": 600000
        }
      },
      "id": "ingest-text-e5",
      "name": "Ingest tekst (e5-large)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1760, 120]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://192.168.31.70:8000/model/start",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\"model_path\":\"/media/lobo/BACKUP/KlimtechRAG/modele_LLM/model_thinking/speakleash_Bielik-11B-v3.0-Instruct-GGUF_Bielik-11B-v3.0-Instruct.Q8_0.gguf\",\"model_type\":\"llm\"}",
        "options": {
          "timeout": 60000
        }
      },
      "id": "start-llm",
      "name": "Start LLM (Bielik-11B)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2200, 0]
    },
    {
      "parameters": {
        "amount": 25,
        "unit": "seconds"
      },
      "id": "wait-llm-start",
      "name": "Czekaj 25s (LLM start)",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [2420, 0]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "http://192.168.31.70:8000/health",
        "options": {
          "timeout": 10000
        }
      },
      "id": "health-check",
      "name": "Health Check",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2640, 0]
    },
    {
      "parameters": {},
      "id": "no-new-files",
      "name": "Brak nowych plikow",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [880, 200]
    }
  ],
  "connections": {
    "Co 5 minut": {
      "main": [
        [{ "node": "Nextcloud List RAG_Dane", "type": "main", "index": 0 }]
      ]
    },
    "Nextcloud List RAG_Dane": {
      "main": [
        [{ "node": "Porownaj z poprzednim skanem", "type": "main", "index": 0 }]
      ]
    },
    "Porownaj z poprzednim skanem": {
      "main": [
        [{ "node": "Nowe pliki?", "type": "main", "index": 0 }]
      ]
    },
    "Nowe pliki?": {
      "main": [
        [{ "node": "Stop LLM (zwolnij VRAM)", "type": "main", "index": 0 }],
        [{ "node": "Brak nowych plikow", "type": "main", "index": 0 }]
      ]
    },
    "Stop LLM (zwolnij VRAM)": {
      "main": [
        [{ "node": "Czekaj 10s (VRAM)", "type": "main", "index": 0 }]
      ]
    },
    "Czekaj 10s (VRAM)": {
      "main": [
        [{ "node": "Przygotuj liste plikow", "type": "main", "index": 0 }]
      ]
    },
    "Przygotuj liste plikow": {
      "main": [
        [{ "node": "PDF czy tekst?", "type": "main", "index": 0 }]
      ]
    },
    "PDF czy tekst?": {
      "main": [
        [{ "node": "Ingest PDF (ColPali)", "type": "main", "index": 0 }],
        [{ "node": "Ingest tekst (e5-large)", "type": "main", "index": 0 }]
      ]
    },
    "Ingest PDF (ColPali)": {
      "main": [
        [{ "node": "Start LLM (Bielik-11B)", "type": "main", "index": 0 }]
      ]
    },
    "Ingest tekst (e5-large)": {
      "main": [
        [{ "node": "Start LLM (Bielik-11B)", "type": "main", "index": 0 }]
      ]
    },
    "Start LLM (Bielik-11B)": {
      "main": [
        [{ "node": "Czekaj 25s (LLM start)", "type": "main", "index": 0 }]
      ]
    },
    "Czekaj 25s (LLM start)": {
      "main": [
        [{ "node": "Health Check", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "name": "KlimtechRAG",
      "createdAt": "2026-03-15T00:00:00.000Z",
      "updatedAt": "2026-03-15T00:00:00.000Z"
    }
  ],
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": false,
    "instanceId": "klimtechrag-local"
  }
}
